body {
	background-image: url("bg4.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
}

#container {
	padding-right: auto;
	margin: auto;
    width: 50%;
    padding: 10px;
}

#homepic {
	opacity: 1;
	width: 20%;
	height: auto;
}

#texthomepage {
	margin-top: 10em;
	margin-left: 1em;
}

.modal-backdrop {
  z-index: -1;
}


